/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, -12px);
    transform: translate(0px, -12px); }
  80% {
    -webkit-transform: translate(0px, 2px);
    transform: translate(0px, 2px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  40% {
    -webkit-transform: translate(0px, -12px);
    transform: translate(0px, -12px); }
  80% {
    -webkit-transform: translate(0px, 2px);
    transform: translate(0px, 2px); }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  padding: 0 0rem; }

body {
  background-color: #fdc808;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

@font-face {
  font-family: 'CallunaSansRegular';
  src: url("../fonts/CallunaSansRegular-webfont.woff2") format("woff2"), url("../fonts/CallunaSansRegular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: 'CallunaSansRegular', sans-serif;
  color: black; }

.heading-primary--main {
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .8; }

.heading-primary--sub {
  font-size: 2rem;
  font-weight: 400; }

.heading-secondary--main {
  color: black;
  font-size: 7rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 1; }

.heading-secondary--sub {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center; }

.u-red-text {
  color: #CC0000; }

.u-underline-text {
  text-decoration: underline; }

.u-navajo-text {
  color: #ffdead; }

.u-white-text {
  color: #fff; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-large {
  margin-bottom: 12rem; }

.section {
  padding: 10rem 12rem;
  min-height: 100vh; }
  .section--1 {
    background-position: center;
    background-repeat: repeat;
    position: sticky;
    top: 0; }
  .section--2 {
    position: relative;
    top: 0rem;
    padding-bottom: 0; }
  .section--3 {
    position: relative;
    top: 0; }
  .section--4 {
    position: relative; }
  .section__title {
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 10%; }
  .section__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .85;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .section__hr {
    background-color: black;
    width: 10rem;
    height: 3px;
    margin: 1rem 0 1.5rem 0;
    border: none;
    border-radius: 1px;
    opacity: 1; }
  .section__skills {
    z-index: 1000;
    position: relative;
    top: -30rem; }
  .section__skill {
    display: block;
    font-family: arial;
    font-size: 20rem;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 1.08;
    letter-spacing: -.04em;
    opacity: .9;
    color: black; }
  .section__description {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 400; }
  .section__paragraph {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 400; }

.header {
  height: 55vh; }
  .header__logo-box {
    color: #b31217;
    position: fixed;
    top: 4rem;
    left: 4rem;
    z-index: 1;
    font-size: 2rem;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: white; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #CC0000;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #CC0000;
  transform: translateX(1rem); }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__button {
  background-color: #d00000;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 5rem;
  background-image: radial-gradient(#fff, #fff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem;
  color: #330867; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.contact {
  padding: 4rem 12rem 18rem;
  background-color: white; }
  .contact__title {
    margin-top: 10%; }
  .contact__list {
    font-size: 1.5rem;
    list-style-type: none;
    margin: 2rem;
    padding: 0; }
  .contact__item {
    padding: 0 6rem;
    padding-bottom: 6rem;
    display: inline-block; }
    .contact__item:hover {
      -webkit-animation: bounce 400ms ease-in-out forwards;
      animation: bounce 500ms ease-in-out forwards; }
  .contact__link {
    color: black;
    opacity: .9;
    margin: 2rem auto;
    text-decoration: none; }

.come-in {
  transform: translateY(150px);
  animation: 1.2s come-in ease forwards; }

.come-in:nth-child(odd) {
  animation-duration: 1s; }

.already-visible {
  transform: translateY(25px);
  animation: come-in 1.2s ease forwards; }

@keyframes come-in {
  to {
    transform: translateY(0); } }
