*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'CallunaSansRegular';
  src: url("../fonts/CallunaSansRegular-webfont.woff2") format("woff2"), url("../fonts/CallunaSansRegular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: "CallunaSansRegular";
  color: black; }

.section {
  padding: 4rem 12rem;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap; }
  .section--1 {
    background-color: blue; }
  .section--2 {
    background-color: grey; }
  .section--3 {
    background-color: pink; }
  .section__title {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%; }
  .section__card {
    flex: 1;
    background-color: #fff;
    padding: 4rem 8rem;
    border-radius: .25rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  .section__card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.header {
  height: 95vh; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    z-index: 1; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    display: flex; }

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .heading-primary--main {
    font-size: 7rem;
    font-weight: bold;
    text-transform: uppercase; }
  .heading-primary--sub {
    font-size: 2rem;
    font-weight: 400; }

.navigation__nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background: #fff; }

.navigation__item {
  display: inline-block;
  padding: 24px 0;
  margin-right: 3rem; }

.navigation__link {
  color: #757575;
  text-transform: uppercase;
  text-decoration: none; }

.contact {
  padding: 4rem 12rem; }
  .contact__title {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%; }
  .contact__list {
    display: flex;
    justify-content: space-around;
    list-style: none; }
  .contact__link {
    margin: 2rem auto;
    text-decoration: none; }

.come-in {
  transform: translateY(150px);
  animation: come-in 1.2s ease forwards; }

.come-in:nth-child(odd) {
  animation-duration: 1s; }

.already-visible {
  transform: translateY(25px);
  animation: come-in 1.2s ease forwards; }

@keyframes come-in {
  to {
    transform: translateY(0); } }
