@font-face {
    font-family: 'CallunaSansRegular';
    src: url('../fonts/CallunaSansRegular-webfont.woff2') format('woff2'),
         url('../fonts/CallunaSansRegular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f2f2f2;
}

.page-title {
    margin-top: 1%;
    margin-bottom: 4%;
    text-align: center;
    text-transform: uppercase;
}

.page-title h1 {
    margin-top: 6%;
    margin-bottom: 0%;
}

div.slideOutTab {
    position: fixed;
    width: 150px;
    height: 43px;
    top: 200px;
    left: -107px;
    display: none;
}

div.slideOutTab a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    background: 0 0 url('../img/email.gif') no-repeat;
}

div.slideOutTab a:hover {
    background-position: 0 -43px;
}

/* Larger than desktop */
@media (min-width: 1000px) {

  div.slideOutTab {
    display: block;
  }

}

.cards {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

@media screen and (max-width: 1000px) {

  .row {
    flex-direction: column;
  }

  .left.six.columns {
    width: 100%;
  }

  .left.seven.columns {
    width: 100%;
  }

  .left.eight.columns {
    width: 100%;
  }

  .right.three.columns {
    width: 100%;
  }

  .right.four.columns {
    width: 100%;
  }

  .right.five.columns {
    width: 100%;
  }

  .right.six.columns {
    width: 100%;
  }

  .left, .right {
    margin-bottom: 20px;
  }
}

.page-experience {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
}

.page-education {
    margin-top: 4%;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
}

.page-contact {
    margin-top: 8%;
    margin-bottom: 3%;
    text-align: center;
    text-transform: uppercase;
}

.intro-header {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5%;
}

.intro-p {
    background:#a7d2cb;
    height: auto;
}


@media (min-width: 1000px) {

    .intro-p {
        height: 350px;
    }

}

@media (min-width: 1100px) {

    .intro-p {
        height: 300px;
    }

}

.experience-p {
    background: #fedcd2;
}

.left.education-p {
    background: #e9c893;
}

.right.education-p {
    height: auto;
    background: #72d3a0;
}

@media (min-width: 1000px) {

    .right.education-p {
        height: 225px;
    }

}

@media (min-width: 1100px) {

    .right.education-p {
        height: 200px;
    }

}

.education-p {
    background: #f2f2f2;
}

.skills {
    background: #b793a0;
    position: relative;
    z-index: 1;
}

@media (min-width: 1000px) {

    .skills {
        margin-left: -78px;
        margin-top: 180px;
    }

}

.skills-label {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

.skill {
    margin-top: 10px;
}

.intro-header-experience {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0%;
}

.intro-header h5 {
    margin-bottom: 5px;
}

.left {
    border-radius: 5px;
    padding: 2em 2em 2em 2.5em;
    margin-right: 30px;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    z-index:0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


.left:hover, .right:hover {
    z-index:999;
    box-shadow:rgba(0, 0, 0, 0.4) 0 5px 10px 0;
    -webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 5px 10px 0;
    -moz-box-shadow:rgba(0, 0, 0, 0.4) 0 5px 10px 0;
}

.right {
    border-radius: 5px;
    padding: 2em 2em 2em 2.5em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    box-shadow: 0px 2px 5px 0px rgba(173,173,173,1);
    z-index:0;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.plane {
    text-align: center;
    position: relative;
}

.satellite {
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.chess img {
    max-width: 100%;
}

#collaboration-ul {
    position: relative;
    margin-top: -1em;
}

#grey-text {
    position: relative;
    margin-top: -1em;
}

.links-container {
    text-align: center;
}

.contact-links {
    margin: 20px auto 10% auto;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

    .links-container { padding-left: 100px; }
    .contact-links { text-align: center; }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #313131;
}

.ui-widget * { outline: none; }​

.school {
    font-size: 1em;
}

.firehose {
    text-transform: uppercase;
    font-size: 1em;
    text-align: newspaper;
}

ul a {
    text-decoration: underline;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.2s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1s;
}

.already-visible {
  transform: translateY(25px);
  animation: come-in 1.2s ease forwards;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

