.section {
    padding: 10rem 12rem;
    min-height: 100vh;

    @media only screen and (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
        padding: 1rem 2rem;
    }

    &--1 {
        background-position: center;
        background-repeat: repeat;
        position: sticky;
        top: 0;
    }

    &--2 {
        position: relative;
        top: 0rem;
        padding-bottom: 0;
    }

    &--3 {
        position: relative;
        top: 0;
    }

    &--4 {
        position: relative;
    }

    &__title {
        font-size: 5rem;
        text-transform: uppercase;
        margin-top: 10%;
    }

    &__text {
        @include center-horizontal-vertical;
        opacity: .85;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &--1 {

        }

        &--2 {

        }
    }

    &__hr {
        background-color: black;
        width: 10rem;
        height: 3px;
        margin: 1rem 0 1.5rem 0;
        border: none;
        border-radius: 1px;
        opacity: 1;
    }

    &__skills {
        z-index: 1000;
        position: relative;
        top: -30rem;
    }

    &__skill {
        display: block;
        font-family: arial;
        font-size: 20rem;
        font-weight: 400;
        color: white;
        text-align: center;
        line-height: 1.08;
        letter-spacing: -.04em;
        opacity: .9; //.7
//        background-image: linear-gradient(to right, #30CFD0 0%, #330867 100%); //rgb(0, 3, 11)
        color: rgb(0, 0, 0); //transparent
//        -webkit-background-clip: text;
//        background-clip: text;

        @media only screen and (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
            font-size: 19rem;
            padding-right: 1rem;
        }

        &--HTML5 {

        }

        &--CSS3 {

        }

        &--JavaScript {

        }
    }

    &__description {
        font-family: 'Cormorant Garamond', serif;
        font-size: 3rem;
        font-weight: 400;
    }

    &__paragraph {
        font-family: 'Cormorant Garamond', serif;
        font-size: 2.5rem;
        font-weight: 400;

        @media only screen and (max-width: 599px) and (orientation: portrait), (max-height: 599px) and (orientation: landscape) {
            font-size: 5rem;
        }
    }
}