*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px (10px/16px = 62.5%)
  padding: 0 0rem;

  @media only screen and (max-width: 992px) and (orientation: portrait),
    (max-height: 992px) and (orientation: landscape) {
    font-size: 50%;
  }

  @media only screen and (max-width: 599px) and (orientation: portrait),
    (max-height: 599px) and (orientation: landscape) {
    font-size: 35%;
  }

  @media only screen and (max-width: 430px) and (orientation: portrait),
    (max-height: 430px) and (orientation: landscape) {
    font-size: 28%;
  }
}

body {
  background-color: rgb(253, 200, 8);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
