.u-center-text {
    text-align: center;
}

.u-red-text {
  color: $color-red;
}

.u-underline-text {
  text-decoration: underline;
}

.u-navajo-text {
  color: #ffdead;
}

.u-antiquewhite-text {
  color: antiquewhite;
  opacity: .8;
}

// use utility classes to allow components to have better reusability

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-large {
    margin-bottom: 8rem;
}
