.contact {
    padding: 4rem 12rem;
    background-color: white;

    &__title {
        margin-top: 10%;
    }

    &__list {
        font-size: 1.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


    &__item {
        padding: 6rem;
        display: inline-block;
    }

    &__link {
        margin: 2rem auto;
        text-decoration: none;
    }
}