.contact {
    padding: 4rem 12rem;

    &__title {
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;
        margin-top: 10%;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;

    }

    &__link {
        margin: 2rem auto;
        text-decoration: none;
    }
}