.contact {
    padding: 4rem 12rem;

    &__title {
        margin-top: 10%;
        text-align: center;
    }

    &__list {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__link {
        margin: 2rem auto;
        text-decoration: none;
    }
}